:root {
    --max-file-width: 110ch;
    --max-blog-width: 80ch;
    --left-padding: 12px;
    --right-padding: 12px;
    --top-bar-height: 48px;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "JetBrains Mono", monospace;
    max-width: var(--max-file-width);
    margin: auto;
    /* margin-top: 2rem; */
    font-size: 1rem;
    padding-left: var(--left-padding);
    padding-right: var(--right-padding);
}

#_content {
    max-width: var(--max-blog-width);
}

body details.codeblock,
body .file,
.fullwidth {
    max-width: var(--max-file-width);
    width: min(
        calc(100vw - var(--left-padding) - var(--right-padding)),
        var(--max-file-width)
    );
}
.blogwidth {
    max-width: var(--max-blog-width);
    min-width: min(
        100vw - var(--left-padding) - var(--right-padding),
        var(--max-blog-width)
    );
}

body details.codeblock,
body details.codeblock * {
    max-width: var(--max-file-width);
}

.center {
    text-align: center;
}

.inline-code {
    color: #6610f2;
}

.scroll-target {
    scroll-margin-top: var(--top-bar-height);
}

/* top bar stuff */

.top-bar {
    position: sticky;
    top: 0;
    z-index: 3;
    background-color: white;
    height: var(--top-bar-height);
    border-bottom: 1px solid black;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.side-bar {
    display: flex;
    flex-direction: row;
}

#posts {
    overflow: hidden;
    overflow-wrap: break-word;
    width: 100%;
    text-align: right;
    padding-left: 1vw;
}

/* 80ch magic number is derived from --max-blog-width */
/* TODO: fix sidebar on mobile */
@media screen and (max-width: calc(80ch + 40ch)) {
    .side-bar {
        flex-direction: column;
    }

    #posts {
        max-width: min(
            calc(100vw - var(--left-padding) - var(--right-padding) * 2),
            var(--max-file-width)
        );
    }
}

.top-bar-group {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

/* top bar stuff end */

/*
  table stuff
*/

table {
    border: 1px solid gray;
    border-collapse: collapse;
}

th {
    font-weight: bolder;
}

th,
td {
    border: 1px solid gray;
    padding: 10px;
}

/* table stuff end */

/*
  header stuff
*/

h1 a:link,
h2 a:link,
h3 a:link,
h4 a:link,
h5 a:link,
h6 a:link,
h1 a:visited,
h2 a:visited,
h3 a:visited,
h4 a:visited,
h5 a:visited,
h6 a:visited,
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
    color: black;
    text-decoration: none;
}

h1 > a .hash,
h2 > a .hash,
h3 > a .hash,
h4 > a .hash,
h5 > a .hash,
h6 > a .hash {
    margin-right: 1rem;
}

/* header stuff end */

/*
  challenge information
*/

.challenge-info {
    margin-bottom: 5ch;
}

.challenge-info-item {
    display: inline;
}

.challenge-info-item-val {
    font-weight: bold;
}

/* challenge information end */

/*
  file stuff
*/

.file {
    display: flex;
    justify-content: space-between;
    font-family: "JetBrains Mono", monospace;
    margin-bottom: 0.5rem;
}

.file-link {
    display: inline-flex;
    align-items: center;
}

.file-link img {
    padding-right: 1rem;
}

.file-meta {
    display: flex-inline;
    justify-content: space-evenly;
}

/* normally mobile is 480px */
@media screen and (max-width: 520px) {
    .file-meta {
        display: none;
    }
}

.file-meta-date {
    margin-left: 1rem;
}

/* file stuff end */

/*
  code block stuff
*/

.always-open[open] summary {
    pointer-events: none;
}

/* details:not([open]) {
  margin-bottom: 0.5rem;
} */

details.codeblock > summary {
    list-style: none;
}

details.codeblack > summary::-webkit-details-marker {
    display: none;
}

details.codeblock > summary {
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    border-bottom: solid black 1px;
    cursor: pointer;
    background-color: white;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

.sticky {
    position: sticky;
    top: var(--top-bar-height);
    z-index: 1;
}

.code-block {
    display: flex;
    flex-direction: row;
    font-family: "JetBrains Mono", monospace;
}

.code-block-code-nowrap {
    overflow-x: auto;
}

details.codeblock .code-block-code pre {
    padding-top: 0.5rem;
}

details.codeblock .code-block-lines pre {
    padding-top: 0.5rem;
}

.code-block-code pre {
    margin-top: 0;
    font-size: 1rem;
}

.code-block-lines {
    margin-right: 1rem;
}

.code-block-lines > pre {
    border-right: solid black 1px;
    margin-top: 0;
    user-select: none;
    font-size: 1rem;
    width: 3rem;
}

.code-block-lines > pre a,
.code-block-lines > pre a:link,
.code-block-lines > pre a:visited,
.code-block-lines > pre a:hover {
    color: black;
    text-decoration: none;
    scroll-margin-top: 50vh;
}

.code-block-lines > pre a .highlight {
    display: none;
}

.code-block-lines > pre a:target .highlight {
    background-color: rgba(255, 255, 170, 0.3);
    position: relative;
    width: 100vw;
    overflow-x: visible;
    z-index: 1;
    display: inline-block;
    left: -3rem;
    top: 0;

    pre {
        display: inline;
    }
}

/* code block stuff end */

/*
  github theme
*/

.hljs {
    color: #24292e;
    background: #ffffff;
}

.hljs-doctag,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-variable.language_ {
    /* prettylights-syntax-keyword */
    color: #d73a49;
}

.hljs-title,
.hljs-title.class_,
.hljs-title.class_.inherited__,
.hljs-title.function_ {
    /* prettylights-syntax-entity */
    color: #6f42c1;
}

.hljs-attr,
.hljs-attribute,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-operator,
.hljs-variable,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id {
    /* prettylights-syntax-constant */
    color: #005cc5;
}

.hljs-regexp,
.hljs-string,
.hljs-meta .hljs-string {
    /* prettylights-syntax-string */
    color: #032f62;
}

.hljs-built_in,
.hljs-symbol {
    /* prettylights-syntax-variable */
    color: #e36209;
}

.hljs-comment,
.hljs-code,
.hljs-formula {
    /* prettylights-syntax-comment */
    color: #6a737d;
}

.hljs-name,
.hljs-quote,
.hljs-selector-tag,
.hljs-selector-pseudo {
    /* prettylights-syntax-entity-tag */
    color: #22863a;
}

.hljs-subst {
    /* prettylights-syntax-storage-modifier-import */
    color: #24292e;
}

.hljs-section {
    /* prettylights-syntax-markup-heading */
    color: #005cc5;
    font-weight: bold;
}

.hljs-bullet {
    /* prettylights-syntax-markup-list */
    color: #735c0f;
}

.hljs-emphasis {
    /* prettylights-syntax-markup-italic */
    color: #24292e;
    font-style: italic;
}

.hljs-strong {
    /* prettylights-syntax-markup-bold */
    color: #24292e;
    font-weight: bold;
}

.hljs-addition {
    /* prettylights-syntax-markup-inserted */
    color: #22863a;
    background-color: #f0fff4;
}

.hljs-deletion {
    /* prettylights-syntax-markup-deleted */
    color: #b31d28;
    background-color: #ffeef0;
}

.hljs-char.escape_,
.hljs-link,
.hljs-params,
.hljs-property,
.hljs-punctuation,
.hljs-tag {
    /* purposely ignored */
}
